/nbproject/private/
public/bower_components/
public/view/
public/css/
public/js/
public/fonts/
vendor/
.env
.env.test
node_modules/
npm-debug.log
.buildpath
.project
.settings/
.idea/
humbuglog.txt
storage/database/database.sqlite
.php_cs.cache
storage/data/
storage/database/database.sqlite-journal
.coveralls.yml
coverage/
.tmp/
._*
.DS_Store