<div ng-controller="ActorsController">
    <div class="row">
        <success-message submitted="submitted">
            <strong>{{ 'WELL_DONE' | translate }}</strong> {{ 'YOU_SUCCESSFULLY_CREATED_A_ACTOR' | translate }}
        </success-message>

        <div class="col-lg-6">
            <form role="form" ng-submit="create()" name="form">
                <div class="form-group">
                    <label>{{ 'NAME' | translate }}</label>
                    <input class="form-control" name="name" ng-model="actor.name" required ng-class=""/>
                    <div class="alert alert-dismissable alert-danger" ng-show="form.name.$error.required">
                        {{ 'NAME_IS_REQUIRED' | translate }}
                    </div>
                </div>

                <div class="form-group">
                    <label>{{ 'DESCRIPTION' | translate }}</label>
                    <textarea class="form-control" rows="3" name="description" ng-model="actor.description" required></textarea>
                    <div class="alert alert-dismissable alert-danger" ng-show="form.description.$error.required">
                        {{ 'DESCRIPTION_IS_REQUIRED' | translate }}
                    </div>
                </div>

                <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">{{ 'CREATE_ACTOR' | translate }}</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>{{ 'ACTOR_LIST' | translate }}</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{ 'NAME' | translate }}</th>
                            <th>{{ 'DESCRIPTION' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="actor in actors">
                            <td>
                                {{actor.name}}</td>
                            <td>
                                {{actor.description}}</td>
                        </tr>
                        <tr ng-show="actors.length == 0" class="warning">
                            <td colspan="2" align="center">{{ 'ACTOR_NOT_FOUND' | translate }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>