<div class="row">
    <success-message submitted="submitted">
        <strong>{{ 'WELL_DONE' | translate }}</strong> {{ 'YOU_SUCCESSFULLY_CREATED_AN_APPLICATION' | translate }}
    </success-message>
    <div class="col-lg-6">
        <form role="form" name="form" ng-submit="create()">
            <div class="form-group">
                <label>{{ 'NAME' | translate }}</label>
                <input class="form-control" name="name" ng-model="application.name" required/>
                <div class="alert alert-dismissable alert-danger" ng-show="form.name.$error.required">
                    {{ 'NAME_IS_REQUIRED' | translate }}
                </div>
            </div>

            <button type="submit" class="btn btn-default" ng-disabled="form.$invalid"> {{ 'CREATE_APPLICATION' | translate }}</button>
        </form>

    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h2>Lista de sistemas</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover tablesorter">
                <thead>
                    <tr>
                        <th>{{ 'NAME' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="app in applications">
                        <td>{{app.name}}</td>
                    </tr>
                    <tr ng-show="applications.length == 0" class="warning">
                        <td align="center">{{ 'APPLICATION_NOT_FOUND' | translate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>