<div class="row">
    <success-message submitted="submitted">
        <strong>Well done!</strong> You successfully created an application.
    </success-message>
    <div class="col-lg-6">
        <form role="form" name="form" ng-submit="create()">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="name" ng-model="application.name" required/>
                <p class="help-block">Create an application to manage your use cases</p>
                <div class="alert alert-dismissable alert-danger" ng-show="form.name.$error.required">
                    Name is required.
                </div>
            </div>

            <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Create</button>
        </form>

    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h2>Bordered Table</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover tablesorter">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="app in applications">
                        <td>{{app.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>