<div ng-controller="StepsController">
    <success-message submitted="submitted">
        <strong>{{ 'WELL_DONE' | translate }}</strong> {{ 'YOU_SUCCESSFULLY_CREATED_AN_STEP' | translate }}
    </success-message>
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'STEP' | translate }}</div>
        <div class="panel-body">
            <div class="col-lg-3">
                <div class="form-group">
                    <label>{{ 'USE_CASE' | translate }}</label>
                    <select class="form-control" required name="useCase" ng-model="step.useCase">
                        <option value="">{{ 'SELECT' | translate }}</option>
                        <option ng-repeat="useCase in useCases" value="{{useCase.id_caso_de_uso}}">{{useCase.descricao}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>{{ 'TYPE' | translate }}</label>
                    <select class="form-control" required name="application" ng-model="step.type">
                        <option value="">{{ 'SELECT' | translate }}</option>
                        <option value="1">{{ 'TYPE_1' | translate }}</option>
                        <option value="2">{{ 'TYPE_2' | translate }}</option>
                        <option value="3">{{ 'TYPE_3' | translate }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-lg-1">
                <div class="form-group">
                    <label>{{ 'IDENTIFIER' | translate }}</label>
                    <input class="form-control" name="identifier" ng-model="step.identifier" required/>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="form-group">
                    <label>{{ 'DESCRIPTION' | translate }}</label>
                    <textarea class="form-control" name="description" ng-model="step.description" required></textarea>
                </div>
            </div>
        </div>
        <div class="panel-body" ng-repeat="(index, step) in elements">
            <div class="col-lg-3">
                <div class="form-group" ng-show="index == 0">
                    <label>{{ 'COMPLEMENTARY' | translate }}</label>
                </div>
                <div class="input-group">
                    <select class="form-control">
                        <option value="">{{ 'SELECT' | translate }}</option>
                        <option ng-repeat="complementary in complementaries" value="{{complementary.id}}">
                            {{complementary.identifier}} - {{complementary.description}}
                        </option>
                    </select>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newElementModal" ng-click="createComplementary()">+</button>
                    </span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group" ng-show="index == 0">
                    <label>{{ 'BUSINESS' | translate }}</label>
                </div>
                <div class="input-group">
                    <select class="form-control">
                        <option value="">{{ 'SELECT' | translate }}</option>
                        <option ng-repeat="rule in rules" value="{{rule.id}}">
                            {{rule.identifier}} - {{rule.description}}
                        </option>
                    </select>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newElementModal" ng-click="createRule()">+</button>
                    </span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group" ng-show="index == 0">
                    <label>{{ 'REFERENCE' | translate }}</label>
                </div>
                <div class="input-group">
                    <select class="form-control">
                        <option value="">{{ 'SELECT' | translate }}</option>
                        <option ng-repeat="reference in references" value="{{reference.id}}">
                            {{reference.identifier}} - {{reference.description}}
                        </option>
                    </select>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newElementModal" ng-click="createReference()">+</button>
                    </span>
                </div>
            </div>
            <div class="col-lg-3" ng-show="index == 0">
                <div class="form-group fix-top-button">
                    <button type="button" class="btn btn-primary" ng-click="createNewElement()">
                        <span title="Clicando nesse botão será possível vincular novas regras ao passo desejado">{{ 'NEW_LINE' | translate }}</span></button>
                    <button type="button" class="btn btn-success" ng-click="createNewStep()">
                        <span title="Após vincular todas as regras desejadas clique nesse botão para salvar o trabalho feito">
                            {{ 'SAVE_STEP' | translate }}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'USE_CASE' | translate }}</div>
        <div class="panel-body">
            <ul>
                <li>
                    System
                    <ul>
                        <li>
                            <ul>
                                Caso de uso 1
                                <li>
                                    Fluxo basico
                                    <ul>
                                        <li>fluxo 1</li>
                                        <li>fluxo 2</li>
                                        <li>fluxo 3</li>
                                    </ul>
                                </li>
                                <li>
                                    Fluxo alternativo
                                    <ul>
                                        <li>fluxo alter 1</li>
                                        <li>fluxo alter 2</li>
                                        <li>fluxo alter 3</li>
                                    </ul>
                                </li>
                                <li>
                                    Fluxo exeção
                                    <ul>
                                        <li>fluxo exce 1</li>
                                        <li>fluxo exce 2</li>
                                        <li>fluxo exce 3</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="newElementModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ modal.title | translate }}</h4>
                </div>
                <div class="modal-body">
                    <form role="form" ng-submit="createOption(modal.active)" name="form">
                        <div class="form-group">
                            <label>{{ 'IDENTIFIER' | translate }}</label>
                            <input class="form-control" name="identifier" ng-model="option.identifier" required ng-class=""/>
                            <div class="alert alert-dismissable alert-danger" ng-show="form.identifier.$error.required">
                                {{ 'IDENTIFIER_IS_REQUIRED' | translate }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ 'DESCRIPTION' | translate }}</label>
                            <textarea class="form-control" rows="3" name="description" ng-model="option.description" required></textarea>
                            <div class="alert alert-dismissable alert-danger" ng-show="form.description.$error.required">
                                {{ 'DESCRIPTION_IS_REQUIRED' | translate }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default" ng-disabled="form.$invalid" modal-close>{{ 'SAVE' | translate }}</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
