<div ng-controller="StepsController">
    <success-message submitted="submitted">
        <strong>{{ 'WELL_DONE' | translate }}</strong> {{ 'YOU_SUCCESSFULLY_CREATED_AN_STEP' | translate }}
    </success-message>

    <error-message error="error">
        <strong>{{ 'SORRY_SOMETHING_WENT_WRONG' | translate }}</strong> {{messageError}}
    </error-message>

    <div class="panel panel-default">
        <div class="panel-heading">{{ 'STEP' | translate }}</div>
        <form role="form" ng-submit="create()" name="form">
            <input type="hidden" name="id_passos" value="{{useCase.id_passos}}"/>
            <input type="hidden" name="id_fluxo" value="{{useCase.id_fluxo}}"/>

            <div class="panel-body">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>{{ 'USE_CASE' | translate }}</label>
                        <select 
	                        class="form-control" 
	                        name="useCase" 
	                        ng-model="useCase.useCase" 
	                        required
                        	ng-options="usec.id_revisao as usec.descricao for usec in useCases">
                            <option value="">{{ 'SELECT' | translate }}</option>
                        </select>
                        <div class="alert alert-dismissable alert-danger" ng-show="form.useCase.$error.required">
                            {{ 'USE_CASE_IS_REQUIRED' | translate }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>{{ 'TYPE' | translate }}</label>
                        <select 
                        	class="form-control" 
                        	required 
                        	name="type" 
                        	ng-model="useCase.type"
                        	ng-options="type.id as type.description for type in types">
                            <option value="">{{ 'SELECT' | translate }}</option>
                        </select>
                        <div class="alert alert-dismissable alert-danger" ng-show="form.type.$error.required">
                            {{ 'TYPE_IS_REQUIRED' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-1">
                    <div class="form-group">
                        <label>{{ 'IDENTIFIER' | translate }}</label>
                        <input class="form-control" name="identifier" ng-model="useCase.identifier" required/>
                        <div class="alert alert-dismissable alert-danger" ng-show="form.identifier.$error.required">
                            {{ 'IDENTIFIER_IS_REQUIRED' | translate }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="form-group">
                        <label>{{ 'DESCRIPTION' | translate }}</label>
                        <textarea class="form-control" name="description" ng-model="useCase.description" required></textarea>
                        <div class="alert alert-dismissable alert-danger" ng-show="form.description.$error.required">
                            {{ 'DESCRIPTION_IS_REQUIRED' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" ng-repeat="step in elements track by $index">
                <div class="col-lg-3">
                    <div class="form-group" ng-show="$index == 0">
                        <label>{{ 'COMPLEMENTARY' | translate }}</label>
                    </div>
                    <div class="input-group">
                        <select class="form-control" name="complementary[{{$index}}]" ng-model="useCase.complementary[$index]">
                            <option value="">{{ 'SELECT' | translate }}</option>
                            <option ng-repeat="complementary in complementaries" value="{{complementary.identifier}}|{{complementary.description}}|{{complementary.id}}">
                                {{complementary.identifier}} - {{complementary.description}}
                            </option>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newElementModal" ng-click="createComplementary()">+</button>
                        </span>
                    </div>
                    <div class="input-group">
                        <div class="form-group">
                            <div class="alert alert-dismissable alert-danger" ng-show="form['complementary[' + $index + ']'].$error.required">
                                {{ 'COMPLEMENTARY_IS_REQUIRED' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group" ng-show="$index == 0">
                        <label>{{ 'BUSINESS' | translate }}</label>
                    </div>
                    <div class="input-group">
                        <select class="form-control" name="business[{{$index}}]" ng-model="useCase.business[$index]">
                            <option value="">{{ 'SELECT' | translate }}</option>
                            <option ng-repeat="rule in rules" value="{{rule.identifier}}|{{rule.description}}|{{rule.id}}">
                                {{rule.identifier}} - {{rule.description}}
                            </option>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newElementModal" ng-click="createRule()">+</button>
                        </span>
                    </div>
                    <div class="input-group">
                        <div class="form-group">
                            <div class="alert alert-dismissable alert-danger" ng-show="form['business[' + $index + ']'].$error.required">
                                {{ 'BUSINESS_IS_REQUIRED' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group" ng-show="$index == 0">
                        <label>{{ 'REFERENCE' | translate }}</label>
                    </div>
                    <div class="input-group">
                        <select class="form-control" name="reference[{{$index}}]" ng-model="useCase.reference[$index]">
                            <option value="">{{ 'SELECT' | translate }}</option>
                            <option ng-repeat="reference in references" value="{{reference.identifier}}|{{reference.description}}|{{reference.id}}">
                                {{reference.identifier}} - {{reference.description}}
                            </option>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newElementModal" ng-click="createReference()">+</button>
                        </span>
                    </div>
                    <div class="input-group">
                        <div class="form-group">
                            <div class="alert alert-dismissable alert-danger" ng-show="form['reference[' + $index + ']'].$error.required">
                                {{ 'REFERENCE_IS_REQUIRED' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3" ng-show="$index == 0">
                    <div class="form-group fix-top-button">
                        <button type="button" class="btn btn-primary" ng-click="createNewElement()">
                            <span>{{ 'NEW_LINE' | translate }}</span>
                        </button>
                    </div>
                    <div class="form-group fix-top-button">
                        <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">
                            <span>{{ message | translate }}</span>
                        </button>
                    </div>
                    <div class="form-group fix-top-button">
                        <button type="button" class="btn btn-danger" ng-show="useCase.useCase" ng-click="cancel()"> {{ 'CANCEL' | translate }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>{{ 'LIST_STEP' | translate }}</h2>
            <div class="table-responsive">
                <table ng-table="customConfigParams" class="table table-bordered table-hover tablesorter">
                    <thead>
                        <tr>
                            <th>{{ 'USE_CASE' | translate }}</th>
                            <th>{{ 'TYPE' | translate }}</th>
                            <th>{{ 'IDENTIFIER' | translate }}</th>
                            <th>{{ 'DESCRIPTION' | translate }}</th>
                            <th>{{ 'ACTION' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="app in $data track by $index">
                            <td>{{app.caso_de_uso_descricao}}</td>
                            <td>{{ 'TYPE_' + app.tipo | translate }}</td>
                            <td>{{app.identificador}}</td>
                            <td>{{app.descricao}}</td>
                            <td>
                                <button class="btn btn-primary" ng-click="edit($index)">{{ 'EDIT' | translate }}</button>
                                <button class="btn btn-info" data-toggle="modal" data-target="#preview" ng-click="preview(app.id_passos)">{{ 'PREVIEW' | translate }}</button>
                                <button class="btn btn-danger" ng-click="remove(app.id_passos, app.id_fluxo)">{{ 'DELETE' | translate }}</button>
                            </td>
                        </tr>
                        <tr ng-show="$data.length == 0" class="warning">
                            <td align="center" colspan="5">{{ 'STEP_NOT_FOUND' | translate }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="newElementModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ modal.title | translate }}</h4>
                </div>
                <div class="modal-body">
                    <form role="form" ng-submit="createOption(modal.active)" name="formElement">
                        <div class="form-group">
                            <label>{{ 'IDENTIFIER' | translate }}</label>
                            <input class="form-control" name="identifier" ng-model="option.identifier" required ng-class=""/>
                            <div class="alert alert-dismissable alert-danger" ng-show="formElement.identifier.$error.required">
                                {{ 'IDENTIFIER_IS_REQUIRED' | translate }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ 'DESCRIPTION' | translate }}</label>
                            <textarea class="form-control" rows="3" name="description" ng-model="option.description" required></textarea>
                            <div class="alert alert-dismissable alert-danger" ng-show="formElement.description.$error.required">
                                {{ 'DESCRIPTION_IS_REQUIRED' | translate }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default" ng-disabled="formElement.$invalid" modal-close>{{ 'SAVE' | translate }}</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="preview" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ 'PREVIEW' | translate }}</h4>
                </div>
                <div class="modal-body">
                	
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'CLOSE' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#/use-case" class="btn btn-info"> << {{ 'USE_CASE' | translate }}</a>