<div class="row">
    <success-message submitted="submitted">
        <strong>{{ 'WELL_DONE' | translate }}</strong> {{ 'YOU_SUCCESSFULLY_CREATED_A_USE_CASE' | translate }}
    </success-message>
    <div class="col-lg-6">
        <form role="form" name="form" ng-submit="create()">
            <div class="form-group">
                <label>{{ 'APPLICATION' | translate }}</label>
                <select class="form-control" required name="application" ng-model="useCase.application">
                    <option ng-repeat="app in application">{{app.name}}</option>
                </select>
                <div class="alert alert-dismissable alert-danger" ng-show="form.application.$error.required">
                    {{ 'APPLICATION_IS_REQUIRED' | translate }}
                </div>
            </div>

            <div class="form-group">
                <label>{{ 'DESCRIPTION' | translate }}</label>
                <textarea class="form-control" name="description" rows="3" required ng-model="useCase.description"></textarea>
                <div class="alert alert-dismissable alert-danger" ng-show="form.description.$error.required">
                    {{ 'DESCRIPTION_IS_REQUIRED' | translate }}
                </div>
            </div>
            <div class="form-group">
                <label>Status</label>
                <select class="form-control" name="status" ng-model="useCase.status" required>
                    <option>Active</option>
                    <option>Deleted</option>
                    <option>Disabled</option>
                </select>
                <p class="help-block">Select a status</p>
                <div class="alert alert-dismissable alert-danger" ng-show="form.status.$error.required">
                    Status is required.
                </div>
            </div>
            <div class="form-group">
                <label>{{ 'VERSION' | translate }}</label>
                <select class="form-control" name="version" ng-model="useCase.version" required>
                    <option ng-repeat="option in options">{{option.name}}</option>
                </select>
                <p class="help-block">Select a version</p>
                <div class="alert alert-dismissable alert-danger" ng-show="form.version.$error.required">
                    {{ 'VERSION_IS_REQUIRED' | translate }}
                </div>
            </div>

            <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">{{ 'CREATE_USE_CASE' | translate }}</button>
        </form>

    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h2>Lista de casos de uso</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover tablesorter">
                <thead>
                    <tr>
                        <th>{{ 'APPLICATION' | translate }} <i class="fa fa-sort"></i></th>
                        <th>{{ 'DESCRIPTION' | translate }} <i class="fa fa-sort"></i></th>
                        <th>{{ 'STATUS' | translate }} <i class="fa fa-sort"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="useCase in useCases">
                        <td>{{useCase.application}}</td>
                        <td>{{useCase.description}}</td>
                        <td>{{useCase.status}}</td>
                    </tr>
                    <tr ng-show="useCases.length == 0" class="warning">
                        <td colspan="3" align="center">{{ 'USE_CASE_NOT_FOUND' | translate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>