<div class="row">
    <success-message submitted="submitted">
        <strong>Well done!</strong> You successfully created a version.
    </success-message>
    <div class="col-lg-6">
        <form role="form" name="form" ng-submit="create()">
            <div class="form-group">
                <label>Version</label>
                <input class="form-control" name="version" ng-model="version.name" required ng-class=""/>
                <p class="help-block">Eg: 2.0, 1.0.1</p>
                <div class="alert alert-dismissable alert-danger" ng-show="form.version.$error.required">
                    Version name is required.
                </div>
            </div>
            
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" name="description" rows="3" required ng-model="version.description"></textarea>
                <p class="help-block">Describe what this version will does. Eg: Updated use case for better radability</p>
                <div class="alert alert-dismissable alert-danger" ng-show="form.description.$error.required">
                    Description is required.
                </div>
            </div>

            <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Create version</button>
        </form>

    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h2>Versions</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover tablesorter">
                <thead>
                    <tr>
                        <th>Version name <i class="fa fa-sort"></i></th>
                        <th>Description <i class="fa fa-sort"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="version in versions">
                        <td>{{version.versionName}}</td>
                        <td>{{version.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>