<div ng-controller="ActorsController">
    <div class="row">
        <success-message submitted="submitted">
            <strong>{{ 'WELL_DONE' | translate }}</strong> {{ 'YOU_SUCCESSFULLY_CREATED_A_ACTOR' | translate }}
        </success-message>
        
        <error-message error="error">
            <strong>{{ 'SORRY_SOMETHING_WENT_WRONG' | translate }}</strong> {{messageError}}
        </error-message>

        <div class="col-lg-12">
            <form role="form" ng-submit="create()" name="form">
                <input name="id" type="hidden" value="{{actor.id}}" />
                <div class="form-group">
                    <label>{{ 'NAME' | translate }}</label>
                    <input class="form-control" name="name" ng-model="actor.name" required ng-class=""/>
                    <div class="alert alert-dismissable alert-danger" ng-show="form.name.$error.required && form.name.$dirty">
                        {{ 'NAME_IS_REQUIRED' | translate }}
                    </div>
                </div>

                <div class="form-group">
                    <label>{{ 'DESCRIPTION' | translate }}</label>
                    <textarea class="form-control" rows="3" name="description" ng-model="actor.description" required></textarea>
                    <div class="alert alert-dismissable alert-danger" ng-show="form.description.$error.required && form.description.$dirty">
                        {{ 'DESCRIPTION_IS_REQUIRED' | translate }}
                    </div>
                </div>

                <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">{{ message | translate }}</button>
                <button type="button" class="btn btn-danger" ng-show="actor.id" ng-click="cancel()"> {{ 'CANCEL' | translate }}</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>{{ 'ACTOR_LIST' | translate }}</h2>
            <div class="table-responsive">
                <table ng-table="customConfigParams" class="table table-bordered table-hover tablesorter">
                    <tr ng-repeat="actor in $data track by $index">
                        <td title="'Nome'">{{actor.nome}}</td>
                        <td title="'Descrição'">{{actor.descricao}}</td>
                        <td align="center">
                            <button class="btn btn-primary" ng-click="edit($index)">{{ 'EDIT' | translate }}</button> 
                            <button class="btn btn-danger" ng-click="remove(actor.id_ator)">{{ 'DELETE' | translate }}</button>
                        </td>
                    </tr>
                    <tr ng-show="$data.length == 0" class="warning">
                        <td colspan="3" align="center">{{ 'ACTOR_NOT_FOUND' | translate }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<a href="#/application" class="btn btn-info"><< {{ 'APPLICATION' | translate }}</a>
<a href="#/version" class="btn btn-info"> {{ 'NEXT' | translate }}</a>