<div class="row">
    <success-message submitted="submitted">
        <strong>{{ 'WELL_DONE' | translate }}</strong> {{ 'YOU_SUCCESSFULLY_CREATED_A_USE_CASE' | translate }}
    </success-message>
    <div class="col-lg-12">
        <form role="form" name="form" ng-submit="create()">
            <input name="id" type="hidden" value="{{useCase.id}}" />
            <input name="id_revision" type="hidden" value="{{useCase.id_revision}}" />
            <input name="id_actor_revision" type="hidden" value="{{useCase.id_actor_revision}}" />

            <div class="form-group">
                <label>{{ 'APPLICATION' | translate }}</label>
                <select class="form-control"
                    required
                    name="application"
                    ng-model="useCase.application"
                    ng-options="app.id_sistema as app.nome for app in application"
                    ng-disabled="useCase.id">

                    <option value="">{{ 'SELECT' | translate }}</option>
                </select>
                <div class="alert alert-dismissable alert-danger" ng-show="form.application.$error.required && form.application.$dirty">
                    {{ 'APPLICATION_IS_REQUIRED' | translate }}
                </div>
            </div>
            <div class="form-group">
                <label>{{ 'DESCRIPTION' | translate }}</label>
                <textarea class="form-control" name="description" rows="3" required ng-model="useCase.description"></textarea>
                <div class="alert alert-dismissable alert-danger" ng-show="form.description.$error.required && form.description.$dirty">
                    {{ 'DESCRIPTION_IS_REQUIRED' | translate }}
                </div>
            </div>
            <div class="form-group">
                <label>{{ 'VERSION' | translate }}</label>
                <select class="form-control" name="version" ng-model="useCase.version" required>
                    <option value="">{{ 'SELECT' | translate }}</option>
                    <option ng-repeat="option in version" ng-selected="useCase.version" value="{{option.id_dados_revisao}}">{{option.versao}}</option>
                </select>
                <div class="alert alert-dismissable alert-danger" ng-show="form.version.$error.required && form.version.$dirty">
                    {{ 'VERSION_IS_REQUIRED' | translate }}
                </div>
            </div>

            <div class="input-group">
                <label>{{ 'ACTORS' | translate }}</label>
            </div>
            <div ng-repeat="element in actorsElements track by $index">
                <div class="input-group">
                    <select 
                    	class="form-control" 
                    	name="actor[{{$index}}]" 
                    	ng-model="useCase.actor[$index]" 
                    	required
                    	ng-options="actor.id_ator as actor.nome for actor in actors">
                        <option value="">{{ 'SELECT' | translate }}</option>
                    </select>

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info" ng-click="createActor($index)" ng-show="$index == 0">+</button>
                        <button type="button" class="btn btn-danger" ng-click="deleteActor($index)" ng-show="$index > 0">-</button>
                    </span>
                </div>
                <div class="form-group">
                    <div class="alert alert-dismissable alert-danger" ng-show="form['actor[' + $index + ']'].$error.required && form['actor[' + $index + ']'].$dirty">
                        {{ 'ACTOR_IS_REQUIRED' | translate }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>{{ 'USE_CASE_STATUS' | translate }}</label>
                <select 
                	class="form-control" 
                	name="status" 
                	ng-model="useCase.status" 
                	required
                	ng-options="st.id as st.description for st in selectStatus">
                    <option value="">{{ 'SELECT' | translate }}</option>
                </select>
                <div class="alert alert-dismissable alert-danger" ng-show="form.status.$error.required && form.status.$dirty">
                    {{ 'USE_CASE_STATUS_IS_REQUIRED' | translate }}
                </div>
            </div>
            <div class="form-group">
                <label>{{ 'PRE_CONDITION' | translate }}</label>
                <textarea class="form-control" name="preCondition" ng-model="useCase.preCondition"></textarea>
            </div>
            <div class="form-group">
                <label>{{ 'POS_CONDITION' | translate }}</label>
                <textarea class="form-control" name="posCondition" ng-model="useCase.posCondition"></textarea>
            </div>
            <button type="submit" class="btn btn-default btn-info" ng-disabled="form.$invalid">{{ message | translate }}</button>
            <button type="button" class="btn btn-danger" ng-show="useCase.id" ng-click="cancel()"> {{ 'CANCEL' | translate }}</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>{{ 'LIST_USE_CASE' | translate }}</h2>
        <div class="table-responsive">
            <table ng-table="customConfigParams" show-filter="true" class="table table-bordered table-hover tablesorter">
                <tr ng-repeat="useCase in $data track by $index">
                    <td data-title="tableHeader[0]" sortable="application" filter="{ 'application': 'select' }" filter-data="applicationFilter">{{useCase.nome}}</td>
                    <td data-title="tableHeader[1]">{{useCase.descricao}}</td>
                    <td data-title="tableHeader[2]">{{ useCase.status | translate }}</td>
                    <td data-title="tableHeader[3]" align="center">
                        <button class="btn btn-primary" ng-click="edit($index)">{{ 'EDIT' | translate }}</button>
                        <button class="btn btn-danger" ng-click="remove(useCase.id_caso_de_uso, useCase.id_revisao)">{{ 'DELETE' | translate }}</button>
                    </td>
                </tr>
                <tr ng-show="$data.length == 0" class="warning">
                    <td colspan="4" align="center">{{ 'USE_CASE_NOT_FOUND' | translate }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<a href="#/version" class="btn btn-info"><< {{ 'VERSION' | translate }}</a>
<a href="#/steps" class="btn btn-info">{{ 'NEXT' | translate }} >></a>